<html>

<head>
    <title>中投在线</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/base.css?v=1.14">
    <meta name="format-detection" content="telephone=no">
    <script src="https://hm.baidu.com/hm.js?c3d6eaa135e0c7778dc8a6c73a86db89"></script>
    <script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=6568701&amp;url=https%3A%2F%2Fwww.touzi.com%2Fsearch%2Findex.html%3Fkey%3D1&amp;source=https%3A%2F%2Fwww.touzi.com%2Fzhengfuzhai%2Fproduct-2543.html&amp;rnd=1763540036&amp;hm=1"></script>
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-MG2HJG"></script>
    <script type="text/javascript" src="__HOME_JS__/js-cookie.js"></script>
    <script type="text/javascript" src="__HOME_JS__/require.js?v=1.14" data-main="__HOME_JS__/main/main.js"></script>
    <script type="text/javascript" src="__HOME_JS__/jquery.js?v=1.14"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main" src="__HOME_JS__/main/main.js"></script>
    <script type="text/javascript" src="__HOME_JS__/book.js?v=1.14"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="common" src="__HOME_JS__/common.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquerySuperSlide" src="__HOME_JS__/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="highstock" src="__HOME_JS__/highstock.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="placeholder" src="__HOME_JS__/placeholder.js"></script>
    <script style="display: none;">
    var tvt = tvt || {};
    tvt.captureVariables = function(a) {
        for (var b = new Date, c = {}, d = Object.keys(a || {}), e = 0,
                f; f = d[e]; e++)
            if (a.hasOwnProperty(f) && "undefined" != typeof a[f]) try { var g = [];
                c[f] = JSON.stringify(a[f], function(a, b) { try { if ("function" !== typeof b) { if ("object" === typeof b && null !== b) { if (b instanceof HTMLElement || b instanceof Node || -1 != g.indexOf(b)) return;
                                g.push(b) } return b } } catch (N) {} }) } catch (l) {} a = document.createEvent("CustomEvent");
        a.initCustomEvent("TvtRetrievedVariablesEvent", !0, !0, { variables: c, date: b });
        window.dispatchEvent(a)
    };
    window.setTimeout(function() { tvt.captureVariables({ 'dataLayer': window['dataLayer'] }) }, 2000);
    </script>
</head>

<body>
    <!--公共头部-->
    <div class="t-mn">
        <div class="wrapper clearfix">
            <p class="fl t-mn-tnav"><a href="/about/brand.html" class="no-ml" target="_blank">关于我们</a><em>|</em><a href="/about/platform.html" target="_blank">产品及服务</a><em>|</em><a class="on" href="/zhuanti/20160112club/" target="_blank">中投俱乐部</a></p>
            <div class="fr f14 relative ldright">
                <!--登陆前-->
                <div class="head-login fl">
                    <p class="fl">您好，请<a href="/user/login.html" class="landing">登录</a><em>|</em></p>
                    <p class="fl"><a href="/user/register.html" class="mt2 cold7">免费注册</a><em>|</em></p>
                    <a href="javascript:void(0)" class="abtxt">关注我们</a>
                </div>
                <img src="__HOME_IMG__/wx.png" style="width:112px;height:112px;" class="abtwo absolute">
                <!--登陆后END-->
            </div>
        </div>
    </div>
    <!--滚动导航-->
    <div class="n-nav slideUp disnone">
        <div class="wrapper"> <img src="__HOME_IMG__/scroll-logo.png" class="fl mt5">
            <ul class="n-nav-lst f16 tac fl">
                <li class="fl relative"><a href="/trust/" class="col333">信托</a></li>
                <li class="fl"><a href="/ziguan/" class="col333">资管</a></li>
                <li class="fl"><a href="/zhengfuzhai/" class="col333">政府债</a></li>
                <li class="fl"><a href="/ssgsrz/" class="col333 nnav-label">定期理财</a></li>
                <li class="fl"><a href="/simu/" class="col333">阳光私募</a></li>
                <li class="fl"><a href="/vcpe/" class="nnav-label col333">私募股权</a></li>
            </ul>
            <div class="fr clearfix">
                <p class="n-nav-nbr f16 col9d fl relative"> <i class="n-nav-icon1 absolute"></i>40000-91888</p>
            </div>
        </div>
    </div>
    <!--logo部分-->
    <div class="bgfff">
        <div class="head wrapper relative clearfix"><a class="fl" href="/"><img src="__HOME_IMG__/logo.png?version=1.14" width="320" height="60" class="logo"></a>
            <div class="head-sch fl">
                <div class="head-sch-mn f14 mb5">
                    <input name="" type="text" placeholder="请输入搜索关键字" class="head-sch-ipt" maxlength="30" value="1">
                    <div class="head-sshints absolute disnone">
                        <p></p>
                    </div>
                    <input name="" type="button" class="head-btn colfff" value="搜索">
                </div>
                <span>
        <a target="_blank" href="/zhengfuzhai/product-2593.html" class="col999 mr20 f12">汝州水投定向融资</a>
                <a target="_blank" href="/zhengfuzhai/product-2543.html" class="col999 mr20 f12">遵义习水城市建设定融</a>
        </span>
            </div>
            <div class="h-tel fr"><i></i>
                <p class="f32 col9d">40000-91888</p>
            </div>
        </div>
    </div>
    <div class="h-menu">
        <div class="wrapper">
            <span class="fl f18">
      <a href="/">首页</a>
      <a href="/trust/">信托</a>
      <a href="/ziguan/">资管</a>
      <a href="/zhengfuzhai/" class="relative ">政府债<img src="__HOME_IMG__/hot.png" class="npic"></a>
      <a href="/ssgsrz/" class="relative ">定期理财</a>
      <a href="/simu/">阳光私募</a>
      <a href="/vcpe/">私募股权</a>
      
    </span>
            <p class="fr"><a href="/zhibo/" target="_blank">视频解说</a><em class="colfff">|</em><a href="/news/" target="_blank">财经文库</a></p>
        </div>
    </div>
    <!--无搜索结果-->
    <div class="wrapper">
        <h2 class="f16 mt25 mb15">搜索词: <span class="col9d mr30" id="search_res">1</span></h2>
        <div class="search-menu clearfix">
            <a class="on" href="/search/trust.html?key=1">信托</a>
            <a href="/search/ziguan.html?key=1">资管</a>
            <a href="/search/zhengfuzhai.html?key=1">政府债</a>
            <a href="/search/ssgsrz.html?key=1">上市公司融资</a>
            <a href="/search/piaoju.html?key=1">票据</a>
            <a href="/search/simu.html?key=1">阳光私募</a>
            <a href="/search/vcpe.html?key=1">私募股权</a>
        </div>
        <!--产品-->
        <div class="clearfix">
            <h2 class="mt40 mb15 f20 col333">产品<span class="col888 f14 ml30">共计<em class="col9d">307</em>款产品</span></h2>
            <div class="bgfff">
                <table class="xintuoprd-tb" cellpadding="0" cellspacing="0" id="trust-product-tab">
                    <tbody>
                        <tr class="tal bgf7f8">
                            <th width="60" class="bh">编号</th>
                            <th width="185">产品名称</th>
                            <th width="95">募集状态</th>
                            <th width="140">
                                <p class="xt-taborder relative">预期年化收益率</p>
                            </th>
                            <th width="95">
                                <p class="xt-taborder relative">投资期限</p>
                            </th>
                            <th width="95">
                                <p class="xt-taborder relative">起投金额</p>
                            </th>
                            <th width="95">投资方向</th>
                            <th width="95">付息方式</th>
                            <th width="95">发行机构</th>
                            <th width="95">红包优惠</th>
                            <th width="94" class="cz">操作</th>
                        </tr>
                        <tr>
                            <td class="bh">01</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2431.html">国通信托东兴193号</a></td>
                            <td>在售</td>
                            <td class="colredd">7.70% </td>
                            <td>12+12月</td>
                            <td>100万</td>
                            <td>房地产</td>
                            <td>按季付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">6000元起</td>
                            <td><a class="go-ck" href="/trust/product-2431.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">02</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2564.html">GD信托风韵江南11号</a></td>
                            <td>在售</td>
                            <td class="colredd">7.70% </td>
                            <td>24月</td>
                            <td>100万</td>
                            <td>基础设施</td>
                            <td>半年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">3000元起</td>
                            <td><a class="go-ck" href="/trust/product-2564.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">03</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2582.html">光大信益21号</a></td>
                            <td>在售</td>
                            <td class="colredd">9.00% </td>
                            <td>24月</td>
                            <td>100万</td>
                            <td>基础设施</td>
                            <td>半年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">4000元起</td>
                            <td><a class="go-ck" href="/trust/product-2582.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">04</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2547.html">华融金策1号</a></td>
                            <td>在售</td>
                            <td class="colredd">9.00% </td>
                            <td>24月</td>
                            <td>100万</td>
                            <td>房地产</td>
                            <td>按年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">6000元起</td>
                            <td><a class="go-ck" href="/trust/product-2547.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">05</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2574.html">中江国际金鹤411号</a></td>
                            <td>在售</td>
                            <td class="colredd">8.30% </td>
                            <td>24月</td>
                            <td>100万</td>
                            <td>基础设施</td>
                            <td>半年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">4000元起</td>
                            <td><a class="go-ck" href="/trust/product-2574.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">06</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2587.html">GT信托东兴216号</a></td>
                            <td>在售</td>
                            <td class="colredd">8.50% </td>
                            <td>18月</td>
                            <td>100万</td>
                            <td>房地产</td>
                            <td>按季付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">4000元起</td>
                            <td><a class="go-ck" href="/trust/product-2587.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">07</td>
                            <td><a class="xt-prname textOver" href="/trust/product-2258.html">川信太平洋1号</a></td>
                            <td>在售</td>
                            <td class="colredd">8.20% </td>
                            <td>24月</td>
                            <td>100万</td>
                            <td>房地产</td>
                            <td>按年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-318.html">XX信托</a></td>
                            <td class="colredd">3000元起</td>
                            <td><a class="go-ck" href="/trust/product-2258.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">08</td>
                            <td><a class="xt-prname textOver" href="/trust/product-1793.html">中江信托·金虎318号</a></td>
                            <td>售罄</td>
                            <td class="colredd">6.80% </td>
                            <td>12月</td>
                            <td>100万</td>
                            <td>工商企业</td>
                            <td>半年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-15.html">中江信托</a></td>
                            <td class="colredd">5000元起</td>
                            <td><a class="go-ck" href="/trust/product-1793.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">09</td>
                            <td><a class="xt-prname textOver" href="/trust/product-1794.html">中江信托·金马517号</a></td>
                            <td>售罄</td>
                            <td class="colredd">6.50% </td>
                            <td>24/36月</td>
                            <td>100万</td>
                            <td>基础设施</td>
                            <td>按季付息</td>
                            <td class="w95 textOver"><a href="/trust/company-15.html">中江信托</a></td>
                            <td class="colredd">--</td>
                            <td><a class="go-ck" href="/trust/product-1794.html">查看</a></td>
                        </tr>
                        <tr>
                            <td class="bh">10</td>
                            <td><a class="xt-prname textOver" href="/trust/product-518.html">中铁信托·聚利1431期</a></td>
                            <td>售罄</td>
                            <td class="colredd">8.70% </td>
                            <td>24月</td>
                            <td>50万</td>
                            <td>其他</td>
                            <td>按年付息</td>
                            <td class="w95 textOver"><a href="/trust/company-8.html">中铁信托</a></td>
                            <td class="colredd">--</td>
                            <td><a class="go-ck" href="/trust/product-518.html">查看</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="tac f16 lh75 ss-table-more" data-from="trust-product" page="2"><a target="_blank" class=" col888" href="/trust/productlist.html?keyword=1#anchor">查看更多结果</a></div>
            </div>
        </div>
        <!--公司-->
    </div>
    <!--热销产品-->
    <div class="wrapper mb45">
        <div class="sgt-lst relative clear">
            <div class="smgq-tt clearfix"> <span class="col333 f20 smgq-tt-name">热销产品</span> </div>
            <ul class="clearfix">
                <li class="no-bright">
                    <h4 class="f24 relative suggest-tt2 clearfix">
                <span class="textOver"><a target="_blank" title="桐梓城投定向融资" class="col333" href="/zhengfuzhai/product-2614.html">桐梓城投定向融资</a></span> </h4>
                    <!--              -->
                    <!--                <p class="f14 earnings-bg">现金红包</p>-->
                    <!--              -->
                    <!--                  <p class="f14 earnings-bg">-->
                    <!--起</p>-->
                    <!--            -->
                    <!--                <p class="none-red"></p>-->
                    <!--                -->
                    <div class="preferential mb35">
                        <p class="f14 commission mr30"><i><img src="__HOME_IMG__/hbpic.jpg"></i><em>现金红包</em></p>
                    </div>
                    <div class="suggest-mnc">
                        <div>
                            <p class="suggest-nbr f48 col9d tac"> 10.00<em class="f24">%</em></p>
                            <p class="f14 col9c tac">预期年化收益率</p>
                        </div>
                        <div class="tar suggest-keyword2 f16 tac"><span class="onebr">6+6月</span><span>20万起投</span> </div>
                        <div class="clear"></div>
                    </div>
                    <a href="/zhengfuzhai/product-2614.html" target="_blank" class="suggest-yy tac">查看详情</a></li>
                <li class="no-bright">
                    <h4 class="f24 relative suggest-tt2 clearfix">
                <span class="textOver"><a target="_blank" title="保山基建定向融资" class="col333" href="/zhengfuzhai/product-2479.html">保山基建定向融资</a></span> </h4>
                    <!--              -->
                    <!--                <p class="f14 earnings-bg">现金红包</p>-->
                    <!--              -->
                    <!--                  <p class="f14 earnings-bg">-->
                    <!--起</p>-->
                    <!--            -->
                    <!--                <p class="none-red"></p>-->
                    <!--                -->
                    <div class="preferential mb35">
                        <p class="f14 commission mr30"><i><img src="__HOME_IMG__/hbpic.jpg"></i><em>现金红包</em></p>
                        <p class="f14 commission"><i><img src="__HOME_IMG__/hbpic2.jpg"></i><em>投顾推荐</em></p>
                    </div>
                    <div class="suggest-mnc">
                        <div>
                            <p class="suggest-nbr f48 col9d tac"> 9.80<em class="f24">%</em></p>
                            <p class="f14 col9c tac">预期年化收益率</p>
                        </div>
                        <div class="tar suggest-keyword2 f16 tac"><span class="onebr">6+6月</span><span>20万起投</span> </div>
                        <div class="clear"></div>
                    </div>
                    <a href="/zhengfuzhai/product-2479.html" target="_blank" class="suggest-yy tac">查看详情</a></li>
                <li class="no-bright">
                    <h4 class="f24 relative suggest-tt2 clearfix">
                <span class="textOver"><a target="_blank" title="汝州水投定向融资" class="col333" href="/zhengfuzhai/product-2593.html">汝州水投定向融资</a></span> </h4>
                    <!--              -->
                    <!--                <p class="f14 earnings-bg">现金红包</p>-->
                    <!--              -->
                    <!--                  <p class="f14 earnings-bg">-->
                    <!--起</p>-->
                    <!--            -->
                    <!--                <p class="none-red"></p>-->
                    <!--                -->
                    <div class="preferential mb35">
                        <p class="f14 commission mr30"><i><img src="__HOME_IMG__/hbpic.jpg"></i><em>现金红包</em></p>
                        <p class="f14 commission"><i><img src="__HOME_IMG__/hbpic2.jpg"></i><em>投顾推荐</em></p>
                    </div>
                    <div class="suggest-mnc">
                        <div>
                            <p class="suggest-nbr f48 col9d tac"> 10.00<em class="f24">%</em></p>
                            <p class="f14 col9c tac">预期年化收益率</p>
                        </div>
                        <div class="tar suggest-keyword2 f16 tac"><span class="onebr">18月</span><span>20万起投</span> </div>
                        <div class="clear"></div>
                    </div>
                    <a href="/zhengfuzhai/product-2593.html" target="_blank" class="suggest-yy tac">查看详情</a></li>
                <li class="no-bright">
                    <h4 class="f24 relative suggest-tt2 clearfix">
                <span class="textOver"><a target="_blank" title="贵州三都定向融资" class="col333" href="/zhengfuzhai/product-2611.html">贵州三都定向融资</a></span> </h4>
                    <!--              -->
                    <!--                <p class="f14 earnings-bg">现金红包</p>-->
                    <!--              -->
                    <!--                  <p class="f14 earnings-bg">-->
                    <!--起</p>-->
                    <!--            -->
                    <!--                <p class="none-red"></p>-->
                    <!--                -->
                    <div class="preferential mb35">
                        <p class="f14 commission mr30"><i><img src="__HOME_IMG__/hbpic.jpg"></i><em>现金红包</em></p>
                    </div>
                    <div class="suggest-mnc">
                        <div>
                            <p class="suggest-nbr f48 col9d tac"> 10.60<em class="f24">%</em></p>
                            <p class="f14 col9c tac">预期年化收益率</p>
                        </div>
                        <div class="tar suggest-keyword2 f16 tac"><span class="onebr">24月</span><span>20万起投</span> </div>
                        <div class="clear"></div>
                    </div>
                    <a href="/zhengfuzhai/product-2611.html" target="_blank" class="suggest-yy tac">查看详情</a></li>
            </ul>
        </div>
    </div>
    <script>
    //    $(".ss-table-more").click(function(){
    //        var obj = $(this);
    //        var newurl = $(this).attr('src');
    //        var keyword = $("#search_res").text();
    //        var page = $(this).attr('page');
    //        var from = $(this).attr('data-from');
    //        var data = {keyword:keyword,pageNumber:page,from:from};
    //        more_ajax(newurl,data,obj);
    //    })
    //    function more_ajax(newurl,data,obj){
    //        $.ajax({
    //            type : 'post',
    //            url : newurl,
    //            data : data,
    //            dataType : 'json',
    //            success : function(res){
    //                if(data.from == 'trust-product'){
    //                    trust_product_html(res,obj);
    //                }
    //                if(data.from == 'trust-org'){
    //                    trust_org_html(res,obj);
    //                }
    //            },
    //        })
    //    }
    //    function trust_product_html(data,obj){
    //        var trust_html = '';
    //        if(data.items == []){
    //            obj.hide();
    //        }else{
    //            $.each(data.items,function(index,value) {
    //                trust_html += '<tr>';
    //                trust_html += '<td class="bh">'+(++data.number > 9 ? data.number : '0'+data.number)+'</td>';
    //                trust_html += '<td><a class="xt-prname textOver" href="/trust/product-'+value.id+'.html">'+ (value.name ? value.name : '--')+'</a></td>';
    //                trust_html += '<td>'+value.sale_data_status+'</td>';
    //                trust_html += '<td class="colredd">'+(value.expect_return ? value.expect_return : '--')+'</td>';
    //                trust_html += '<td>'+value.term+'</td>';
    //                trust_html += '<td>'+(value.min_purchase_amount > 0 ? (value.min_purchase_amount/10000) +'万' : '--')+'</td>';
    //                trust_html += '<td>'+value.usage_field+'</td>';
    //                trust_html += '<td>'+value.pay_type+'</td>';
    //                trust_html += '<td class="w95 textOver">'+'<a href="/trust/company-'+value.org_id+'.html">'+value.organization_name+'</td>';
    //                trust_html += '<td class="colredd">'+(value.rebate_desc ? value.rebate_desc : '--')+'</td>';
    //                trust_html += ' <td><a class="go-ck" href="/trust/product-'+value.id+'.html">查看</a></td>';
    //                trust_html += '</tr>';
    //            })
    //            $("#trust-product-tab").append(trust_html);
    //            var page = obj.attr('page');
    //            obj.attr("page",++page);
    //            if(data.current >= data.total_pages){
    //                obj.hide();
    //            }
    //        }
    //    }
    //    function trust_org_html(data,obj) {
    //        var trust_html = '';
    //        if (data.items == []) {
    //            obj.hide();
    //        } else {
    //            $.each(data.items, function (index, value) {
    //                trust_html += '<tr>';
    //                trust_html += '<td>'+(++data.number > 9 ? data.number : '0'+data.number)+'</td>';
    //                trust_html += '<td class="xt-prname textOver">'+ '<a href="/trust/company-'+value.id+'.html">'+(value.name ? value.name : '--')+'</td>';
    //                trust_html += '<td>'+(value.province ? value.province : '--')+'</td>';
    //                trust_html += '<td>'+value.shareholder_type+'</td>';
    //                trust_html += '<td>'+(value.registered_capital ? value.registered_capital : '--')+'</td>';
    //                trust_html += '<td>'+(value.established_date ? value.established_date : '--')+'</td>';
    //                trust_html += '<td><a class="go-ck" href="/trust/company-'+value.id+'.html">查看</a></td>';
    //                trust_html += '</tr>';
    //            })
    //            $("#trust-org-tab").append(trust_html);
    //            var page = obj.attr('page');
    //            obj.attr("page",++page);
    //            if(data.current >= data.total_pages){
    //                obj.hide();
    //            }
    //        }
    //    }
    </script>
    <!--foot-->
    <div class="pop-by disnone appoiment-by"></div>
    <div class="pop-box pop-dysucc slideLeft public-open disnone appoiment-box" style="position: fixed; left: 475px; top: 165.5px;">
        <div class="pop-close absolute n-scaling close-icon  appoiment-close"></div>
        <h3 class="tac f22 col333">提交成功</h3>
        <div class="popdysucc-icon"></div>
        <p class="tac f14">您的信息提交成功！
            <br>我们的专业理财经理会尽快联系您！</p>
        <div class="pop-close auto radius5 pop-close-btn tac f14 col333 appoiment-close">关闭</div>
    </div>
    <div class="r-spnav slideRight disnone">
        <p><i class="rico3"></i><em>回顶部</em></p>
    </div>
    <!--foot-->
    <div class="foot">
        <div class="wrapper">
            <div class="fnav cole7">
                <div class="fttxt fl">
                    <dl>
                        <dt><a href="/about/brand.html" target="_blank">关于我们</a></dt>
                        <dd>
                            <a href="/about/brand.html" target="_blank">公司介绍</a>
                            <a href="/about/news.html" target="_blank">公司动态</a>
                            <a href="/about/system.html" target="_blank">风控体系</a>
                            <a href="/about/address.html" target="_blank">联系我们</a>
                        </dd>
                    </dl>
                    <dl class="pdlr">
                        <dt><a href="/trust/">产品及服务</a></dt>
                        <dd><a href="/trust/">信托资管</a><a href="/simu/">阳光私募</a><a href="/vcpe/">私募股权</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="/news/" target="_blank">新闻资讯</a></dt>
                        <dd><a href="/news/list-t1-classId-76-cid-21.html" target="_blank">中投研究院</a><a href="/news/list-t1-classId-21-cid-22.html" target="_blank">理财学院</a><a href="/zixun/" target="_blank">中投百科</a></dd>
                    </dl>
                </div>
                <div class="fl ftel"><span><img src="__HOME_IMG__/foot-logo.png"></span><em class="f12">中投在线客服服务热线</em>
                    <p class="f36">40000-91888</p>
                    <em class="colf2">24小时专属服务</em></div>
                <div class="fr erwm"><span class="mr48"><img src="__HOME_IMG__/wx.png" style="width:112px;height:112px;"><em>微信公众号</em></span><span><img src="__HOME_IMG__/pc.png" style="width:112px;height:112px;"><em>手机客户端</em></span></div>
            </div>
            <div class="cpright cole7">
                <p class="fl">中投在线 © 版权所有 Copyright 2017 touzi.com , All Rights Reserved
                    <br> 沪ICP备13017629号 沪公网安备 31011002001486号<em>|</em>投资有风险，购买需谨慎</p>
                <span class="fr"><img src="__HOME_IMG__/fpic3.jpg"><img src="__HOME_IMG__/fpic4.jpg"><img src="__HOME_IMG__/fpic5.jpg"></span></div>
        </div>
    </div>
    <!--END-->
    <div class="pop-by disnone"></div>
    <div class="pop-box pop-loading slideLeft public-open disnone" style="position: fixed; left: 475px; top: 165.5px;">
        <div class="pop-close absolute close-icon"></div>
        <h3 class="tac f22 col333">提醒</h3>
        <div class="loading-icon"></div>
        <p class="tac f14 col9c">尚未实名认证
            <br> 请先进行实名认证，保障账户和数据安全!
        </p>
        <a href="/user/userInfo.html" class="loding-btn">立即认证</a>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".check-verification").click(function(oEventData) {
            var currentUrl = $(oEventData.currentTarget).attr('data-target');
            var verification = 0;
            if (verification != 3) {
                $('.pop-loading').show();
                $('.pop-by').show();
            } else {
                window.location.href = currentUrl;
            }
        });
    });
    </script>
    <!-- Google Tag Manager -->
    <noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-MG2HJG" height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MG2HJG');
    </script>
    <!-- End Google Tag Manager -->
    <!-- 百度统计 、百度自动推送-->
    <script>
    //    var _hmt = _hmt || [];
    //    (function() {
    //        var hm = document.createElement("script");
    //        hm.src = "//hm.baidu.com/hm.js?39b5ed0bf4174a1437be8378251e78d0";
    //        var s = document.getElementsByTagName("script")[0];
    //        s.parentNode.insertBefore(hm, s);
    //    })();
    </script>
    <!-- 百度统计 、百度自动推送结束 -->
    <div style="display: none; visibility: hidden;">
        <script type="text/javascript">
        var _bdhmProtocol = "https:" == document.location.protocol ? " https://" : " http://";
        document.write(unescape("%3Cscript src\x3d'" + _bdhmProtocol + "hm.baidu.com/h.js%3F601c92cd729f5d300329945382cb791f' type\x3d'text/javascript'%3E%3C/script%3E"));
        </script>
        <script src=" https://hm.baidu.com/h.js?601c92cd729f5d300329945382cb791f" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=601c92cd729f5d300329945382cb791f" target="_blank"><img border="0" src="https://hmcdn.baidu.com/static/hmt/icon/21.gif" width="20" height="20"></a></div>
    <div style="display: none; visibility: hidden;">
        <script>
        var _hmt = _hmt || [];
        (function() { var a = document.createElement("script");
            a.src = "https://hm.baidu.com/hm.js?c3d6eaa135e0c7778dc8a6c73a86db89"; var b = document.getElementsByTagName("script")[0];
            b.parentNode.insertBefore(a, b) })();
        </script>
    </div>
    <div style="display: none; visibility: hidden;">
        <script src="https://s4.cnzz.com/stat.php?id=1254779168&amp;web_id=1254779168" language="JavaScript"></script>
        <script src="https://c.cnzz.com/core.php?web_id=1254779168&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1254779168" target="_blank" title="站长统计">站长统计</a></div>
    <div id="cli_dialog_div"></div>
</body>

</html>