<!--foot-->
        <div class="foot">
            <div class="wrapper">
                <div class="fnav cole7">
                    <div class="fttxt fl">
                        <dl>
                            <dt><a href="./about/brand.html" target="_blank">关于我们</a></dt>
                            <dd>
                                <a href="./about/brand.html" target="_blank">公司介绍</a>
                                <a href="./about/news.html" target="_blank">公司动态</a>
                                <a href="./about/system.html" target="_blank">风控体系</a>
                                <a href="./about/address.html" target="_blank">联系我们</a>
                            </dd>
                        </dl>
                        <dl class="pdlr">
                            <dt><a href="/trust/">产品及服务</a></dt>
                            <dd><a href="/trust/">信托资管</a><a href="/simu/">阳光私募</a><a href="/vcpe/">私募股权</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="./news/" target="_blank">新闻资讯</a></dt>
                            <dd><a href="./news/list-t1-classId-76-cid-21.html" target="_blank">中投研究院</a><a href="./news/list-t1-classId-21-cid-22.html" target="_blank">理财学院</a><a href="/zixun/" target="_blank">中投百科</a></dd>
                        </dl>
                    </div>
                    <div class="fl ftel"><span><img src="__HOME_IMG__/foot-logo.png"></span><em class="f12">在线客服服务热线</em>
                        <p class="f36">40000-91888</p>
                        <em class="colf2">24小时专属服务</em></div>
                    <!-- <div class="fr erwm"><span class="mr48"><img src="__HOME_IMG__/wx.png" style="width:112px;height:112px;"><em>微信公众号</em></span><span><img src="__HOME_IMG__/pc.png" style="width:112px;height:112px;"><em>手机客户端</em></span></div> -->
                </div>
                <div class="fcopy up-txt">
                    <p class="fl">友情链接：
                        <a target="_blank" href="http://contract.58btc.com/index.html"> 58BTC</a>
                        <a target="_blank" href="https://www.tuandai.com/"> 团贷网</a>
                        <a target="_blank" href="http://www.528btc.com/"> 币界网</a>
                        <a target="_blank" href="http://www.trjcn.com/"> 投融资平台</a>
                        <a target="_blank" href="http://www.xinhehui.com"> 互联网投资</a>
                        <a target="_blank" href="http://www.anxin.com/ask/"> 安心贷理财</a>
                        <a target="_blank" href="http://www.qianzhan.com/indynews/"> 财经资讯</a>
                        <a target="_blank" href=""> </a>
                        <a target="_blank" href=""> </a>
                    </p>
                    <i class="fr upbtn"></i></div>
                <div class="cpright cole7">
                    <p class="fl">浦定投资 © 版权所有 Copyright 2017 puding.com , All Rights Reserved
                        <br> 沪ICP备13017629号 沪公网安备 31011002001486号<em>|</em>投资有风险，购买需谨慎</p>
                    <span class="fr"><img src="__HOME_IMG__/fpic3.jpg"><img src="__HOME_IMG__/fpic4.jpg"><img src="__HOME_IMG__/fpic5.jpg"></span></div>
            </div>
        </div>
    </div>    
    <div id="cli_dialog_div"></div>
</body>

</html>